In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Uploading the dataset
df = pd.read_csv(r"C:\Users\Administrator\Desktop\PremierLeague.csv")
df.head(5)

,round_number,league_name,name,starting_at,home_team_name,away_team_name,home_team_goals,away_team_goals
0,1,Premier League,Burnley vs Manchester City,8/11/2023,Burnley,Manchester City,0,3
1,1,Premier League,Arsenal vs Nottingham Forest,8/12/2023,Arsenal,Nottingham Forest,2,1
2,1,Premier League,AFC Bournemouth vs West Ham United,8/12/2023,AFC Bournemouth,West Ham United,1,1
3,1,Premier League,Brighton & Hove Albion vs Luton Town,8/12/2023,Brighton & Hove Albion,Luton Town,4,1
4,1,Premier League,Everton vs Fulham,8/12/2023,Everton,Fulham,0,1

In [4]:
#data types
df.dtypes

round_number        int64
league_name        object
name               object
starting_at        object
home_team_name     object
away_team_name     object
home_team_goals     int64
away_team_goals     int64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   round_number     380 non-null    int64
 1   league_name      380 non-null    object
 2   name             380 non-null    object
 3   starting_at      380 non-null    object
 4   home_team_name   380 non-null    object
 5   away_team_name   380 non-null    object
 6   home_team_goals  380 non-null    int64
 7   away_team_goals  380 non-null    int64
dtypes: int64(3), object(5)
memory usage: 23.9+ KB

In [7]:
#Summary statistics
df.describe().T

                 count       mean        std  min   25%   50%   75%   max
round_number     380.0  19.500000  10.980313  1.0  10.0  19.5  29.0  38.0
home_team_goals  380.0   1.800000   1.365616  0.0   1.0   2.0   3.0   6.0
away_team_goals  380.0   1.478947   1.277811  0.0   1.0   1.0   2.0   8.0

In [8]:
#Checking for missing values in the dataset
df.isnull().sum()

round_number       0
league_name        0
name               0
starting_at        0
home_team_name     0
away_team_name     0
home_team_goals    0
away_team_goals    0
dtype: int64

In [10]:
#Checkling for duplicates i the dataset
df.duplicated().sum()

0

Data Enhancing

In [12]:
#Total goals
df['total_goals'] = df['home_team_goals'] + df['away_team_goals']
df['total_goals']

0      3
1      3
2      2
3      5
4      1
      ..
375    5
376    2
377    6
378    4
379    3
Name: total_goals, Length: 380, dtype: int64

In [13]:
#Check if home team won
df['home_team_won'] = df.apply(lambda x: True if x['home_team_goals'] > x['away_team_goals'] else False, axis=1)
df['home_team_won']

0      False
1       True
2      False
3       True
4      False
       ...
375     True
376     True
377    False
378     True
379    False
Name: home_team_won, Length: 380, dtype: bool

In [15]:
#Winning team
df['winning_team'] = df.apply(lambda x: x['home_team_name'] if x['home_team_goals'] > x['away_team_goals'] else 'Tie' if x['home_team_goals'] == x['away_team_goals'] else x['away_team_name'], axis=1)
df['winning_team']

0             Manchester City
1                     Arsenal
2                         Tie
3      Brighton & Hove Albion
4                      Fulham
                ...
375            Crystal Palace
376                 Liverpool
377                    Fulham
378           Manchester City
379         Tottenham Hotspur
Name: winning_team, Length: 380, dtype: object

In [16]:
#Losing team
df['losing_team'] = df.apply(lambda x: x['home_team_name'] if x['winning_team'] == x['away_team_name'] else 'Tie' if x['winning_team'] == 'Tie' else x['away_team_name'], axis=1)
df['losing_team']

0                      Burnley
1            Nottingham Forest
2                          Tie
3                   Luton Town
4                      Everton
                ...
375                Aston Villa
376    Wolverhampton Wanderers
377                 Luton Town
378            West Ham United
379           Sheffield United
Name: losing_team, Length: 380, dtype: object

Data Enhancement Validation

In [17]:
#Check whether winning and losing team is correct by checking if winning team is the same as losing team (should return 0)
print(len(df.loc[df['winning_team'] != 'Tie'].loc[df['winning_team'] == df['losing_team']]))

0

In [18]:
#Check whether home_team_won is correct by checking if it is only True in home winning cases (Should return True)
print(df.loc[df['home_team_goals'] > df['away_team_goals']]['home_team_won'].unique()[0])

True

In [19]:
#Exact opposite of above (Should return False)
print(df.loc[df['home_team_goals'] < df['away_team_goals']]['home_team_won'].unique()[0])

False