In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Uploading the dataset
df = pd.read_csv(r"C:\Users\Administrator\Desktop\PremierLeague.csv")
df.head(5)

,round_number,league_name,name,starting_at,home_team_name,away_team_name,home_team_goals,away_team_goals
0,1,Premier League,Burnley vs Manchester City,8/11/2023,Burnley,Manchester City,0,3
1,1,Premier League,Arsenal vs Nottingham Forest,8/12/2023,Arsenal,Nottingham Forest,2,1
2,1,Premier League,AFC Bournemouth vs West Ham United,8/12/2023,AFC Bournemouth,West Ham United,1,1
3,1,Premier League,Brighton & Hove Albion vs Luton Town,8/12/2023,Brighton & Hove Albion,Luton Town,4,1
4,1,Premier League,Everton vs Fulham,8/12/2023,Everton,Fulham,0,1

In [4]:
#data types
df.dtypes

round_number        int64
league_name        object
name               object
starting_at        object
home_team_name     object
away_team_name     object
home_team_goals     int64
away_team_goals     int64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   round_number     380 non-null    int64
 1   league_name      380 non-null    object
 2   name             380 non-null    object
 3   starting_at      380 non-null    object
 4   home_team_name   380 non-null    object
 5   away_team_name   380 non-null    object
 6   home_team_goals  380 non-null    int64
 7   away_team_goals  380 non-null    int64
dtypes: int64(3), object(5)
memory usage: 23.9+ KB

In [7]:
#Summary statistics
df.describe().T

                 count       mean        std  min   25%   50%   75%   max
round_number     380.0  19.500000  10.980313  1.0  10.0  19.5  29.0  38.0
home_team_goals  380.0   1.800000   1.365616  0.0   1.0   2.0   3.0   6.0
away_team_goals  380.0   1.478947   1.277811  0.0   1.0   1.0   2.0   8.0

In [8]:
#Checking for missing values in the dataset
df.isnull().sum()

round_number       0
league_name        0
name               0
starting_at        0
home_team_name     0
away_team_name     0
home_team_goals    0
away_team_goals    0
dtype: int64

In [9]:
#Checkling for duplicates i the dataset
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
375    False
376    False
377    False
378    False
379    False
Length: 380, dtype: bool